.mainSection {
  width: 70%;
  height: 70vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  font-family: var(--font-family);
  font-weight: 300;
  line-height: 135%;
  letter-spacing: 0.01em;
  color: var(--text-t-secondary);
}
