:root {
  --dark-violet: #2a2245;
  --less-dark-violet: #322958;
  --violet: #362e63;
  --line-violet: #40377d;
  --off-blue: #484177;
  --off-text: #5b548b;
  --material-violet: #65558f;
  --violet-text: #5c5b9a;
  --dust-blue: #7977a6;
  --violet-text-light: #8c86b4;
  --violet-grey: #afafc8;
  --calm-white: #ebebeb;
  --white: #fff;
  --light-yellow: #ffdd63;
  --middle-yellow: #ffd336;
  --dark-yellow: #ffc805;
  --red: #cd4d43;
  --green: #389859;
  --orange: #ff9204;
  --brown: #6e4643;
  --emerald: #389298;
  --sea: #63d1e2;
  --sky: #3a79c2;
  --cyan: #a161f5;
  --pink: #ca6cca;
  --air-violet: #d7d7f1;
  --violets-dark-violet: var(--dark-violet);
  --violets-less-dark-violet: #322958;
  --violets-violet: #362e63;
  --violets-line-violet: #40377d;
  --violets-off-blue: #484177;
  --violets-off-text: #5b548b;
  --violets-material-violet: #65558f;
  --violets-violet-text: #5c5b9a;
  --violets-dust-blue: #7977a6;
  --violets-violet-text-light: #8c86b4;
  --violets-violet-grey: #afafc8;
  --greys-white: #fff;
  --greys-calm-white: #ebebeb;
  --greys-light-grey: #f6f6f6;
  --greys-black: #000;
  --yellows-light-yellow: #ffdd63;
  --yellows-middle-yellow: #ffd336;
  --yellows-dark-yellow: #ffc805;
  --semantic-red: #cd4d43;
  --semantic-green: #389859;
  --additional-brown: #6e4643;
  --additional-emerald: #389298;
  --additional-sea: #63d1e2;
  --additional-sky: #3a79c2;
  --additional-cyan: #a161f5;
  --additional-pink: #ca6cca;
  --text-t-primary: var(--greys-calm-white);
  --text-t-secondary: var(--violets-violet-text-light);
  --text-t-tetriary: var(--violets-violet-grey);
  --text-t-quaternary: var(--violets-material-violet);
  --text-t-brand-text: var(--yellows-dark-yellow);
  --surface-s-primary: var(--violets-dark-violet);
  --surface-s-secondary: var(--violets-less-dark-violet);
  --objects-o-line: var(--violets-violet);
  --semantic-sem-green: var(--semantic-green);
  --semantic-sem-red: var(--semantic-red);
  --semantic-sem-status: var(--greys-white);
  --objects-o-brand-icons: var(--yellows-dark-yellow);
  --objects-o-line-selected: var(--violets-dust-blue);
  --objects-o-tracker: var(--yellows-dark-yellow);
  --objects-o-active-icons: var(--yellows-dark-yellow);
  --objects-o-still-icons: var(--violets-dust-blue);
  --text-t-quinary: var(--violets-violet-text);
  --violets-air-violet: #d7d7f1;
  --objects-o-slider-hole: var(--violets-less-dark-violet);
  --objects-o-slider-on: var(--violets-dust-blue);
  --objects-o-slider-off: var(--violets-off-blue);
  --objects-o-header-icons: var(--greys-calm-white);
  --objects-o-settings-line: var(--violets-violet);
  --text-t-hexadecimal: var(--violets-dust-blue);
  --surface-s-popup: var(--violets-violet);
  --additional-orange: #ff9204;
  --objects-o-humble-ones: var(--violets-off-text);

  --font-family: "Roboto Flex", sans-serif;
  --second-family: "Roboto", sans-serif;
  --third-family: "e-Ukraine Head", sans-serif;
  --font3: "SF Pro Display", sans-serif;
}
