.timerWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
  

  .timer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%; 
    aspect-ratio: 1 / 1;
    border: 1px var(--objects-o-tracker) solid;
    border-radius: 50%;

    .timerDisplay {
      font-family: var(--third-family);
      font-weight: 300;
      font-size: 1rem;
      text-align: center;
      color: var(--text-t-brand-text);
    }

    .taskTitle {
      margin-top: 0.625rem;
      font-style: italic;
      font-size: 0.75rem;
      line-height: 140%;
      text-align: center;
    }
  }
}